# docs for CODEOWNERS, https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All files for members of siso-frontend
* @TeamTuesday/siso-frontend